<a href="https://colab.research.google.com/github/Pra28sad/Python_Practice/blob/main/loops_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#ARMSTRONG NUMBER PROGRAM
num=int(input("enter value: "))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**(len(str(num)))
    temp//=10
if num==sum:
    print(f"{num} is armstrong number")
else:
    print(f"{num} is  not armstrong number")

enter value: 153
153 is armstrong number

In [8]:
#average of given numbers
total=0
for i in range(4):
    num=int(input(f"enter {i} value :"))
    total+=num
print(f"average of 10 numbers is {total/10}")

enter 0 value :10
enter 1 value :23
enter 2 value :4
enter 3 value :12
average of 10 numbers is 4.9

In [10]:

n1=int(input("enter 1st num: "))
n2=int(input("enter 2nd num: "))

for num in range(n1,n2):
    if num%11==0 and num%2 != 0:
        print(num)

enter 1st num: 11
enter 2nd num: 36
11
33

In [11]:
# n1=int(input("enter number 1 : "))
# n2=int(input("enter number 2: "))
for num in range(n1,n2):
    if num%2!=0 and num%3!=0:
        print(num)

11
13
17
19
23
25
29
31
35

In [12]:
# num1=int(input("enter 1st number: "))
# num2=int(input("enter 2nd number: "))
tOdd=0
tEven=0
for number in range(n1,n2+1):
    if number%2==0:
        tOdd+=number
    else:
        tEven+=number
print(f"total of odd numbers : {tOdd}")
print(f"total of even numbers : {tEven}")

total of odd numbers : 312
total of even numbers : 299

In [13]:
total=0
while True:
    number=int(input("enter value :"))
    lst=[]
    lst.append(number)

    if number == 0:
        break
    else:
        total+=number

print(f"the average of entered values {total/len(lst)}")

enter value :10
enter value :23
enter value :0
the average of entered values 33.0

In [14]:
# num1=int(input("enter decimal value: "))
# print(bin(num1))
num=int(input("enter any number : "))
l=[]
while num:
    rem=num%2
    l.append(rem)
    num=num//2
for i in range(len(l)-1,-1,-1):
    print(l[i],end=' ')

enter any number : 54
1 1 0 1 1 0

In [15]:
#to convert fahrenheat to celsius
n=float(input("enter temperature :"))
print(f"the conversion of temperature into fahrenheit is : {(n*1.8)+32}")

enter temperature :28.34
the conversion of temperature into fahrenheit is : 83.012

In [16]:
number=int(input("enter number: "))
total=1
for i in range(number,1,-1):
    total=total*i
print(total)

enter number: 5
120

In [17]:
# 0,1,1,2,3,5,8,13.....
# n=int(input("enter any number :"))
# l=[0,1]
#s=0
# for i in range(2,n):
#     l.append(l[-1]+l[-2])
# for i in l:
#     print(i,end=" ")

num=int(input("enter any number: "))
n1=0
n2=1
temp=0
for i in range(num):
    print(temp,end=" ")
    # n1=n2
    # n2=temp
    n1,n2=n2,temp
    temp=n1+n2

enter any number: 5
0 1 1 2 3

In [18]:
num=int(input("enter number: "))
temp=num
rev=0
while num>0:
    dig=num%10
    rev=rev*10+dig
    num=num//10
if temp==rev:
    print(f"{temp} is palindrome number")
else:
    print(f"{temp} is not palindrome")

enter number: 565
565 is palindrome number

In [19]:
str1=input("enter any name: ")
s_str1=str1[::-1]
if str1==s_str1:
    print(f"{str1} --> is palilndrome")
else:
    print(f"{str1} --> is not palindrome")

enter any name: mom
mom --> is palilndrome

In [20]:
n=5#int(input("enter any number: "))

for i in range(n):

    c=n-i

    for j in range(i,n):
        print(c,end=" ")
        c-=1
    print()

'''5 4 3 2 1
   4 3 2 1
   3 2 1
   2 1
   1
   '''

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

'5 4 3 2 1\n   4 3 2 1\n   3 2 1\n   2 1\n   1 \n   '

In [21]:
n=int(input("enter number: "))
p=5
for i in range(n):
    for j in range(i,n):
        print(p,end=" ")
    p-=1
    print()

enter number: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [22]:
n=int(input("enter value: "))
c=65
for i in range(n):
    for j in range(i+1):
        print(chr(c),end=" ")
        c+=1
    print()

enter value: 5
A
B C
D E F
G H I J
K L M N O

In [23]:
# n=65
# for i in range (5):

#    for j in range (i+1):
#       print (chr(n), end = ' ')

#       n+=1
#    print()
for i in range (5):
    for j in range(5):
        print("A",end=" ")
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [24]:
n=5
c=n
for i in range(n):
    for j in range(i,n):
        print(c,end=" ")
        c-=1
    print()

5 4 3 2 1
0 -1 -2 -3
-4 -5 -6
-7 -8
-9

In [25]:
# num=int(input("enter number: "))
# for i in range(1,num):
#     for j in range(1,i+1):
#         print(j,end=" ")
#     print()
num=int(input("enter number: "))
for i in range(num,0,-1):
    for j in range(i-1):
        print("*",end=" ")
    print()

enter number: 5
* * * *
* * *
* *
*

In [29]:
num1=int(input("enter any value: "))
lst=[]
sum=0
for i in range(1,num1):
    if num1%i==0:
        lst.append(i)
print(lst)
for i in lst:
    sum+=i
if num1==sum:
    print(f"{num1} --> is perfect number")
else:
    print(f"{num1} --> is  not perfect number")

enter any value: 6
[1, 2, 3]
6 --> is perfect number

In [31]:
num=int(input("enter anny number : "))
lst=[]
for i in range(2,num-1):
    if num%i!=0:

        print(i)

enter anny number : 10
3
4
6
7
8

In [32]:
#prime numbers between two numbers
num1=int(input("enter 1st number: "))
num2=int(input("enter 2nd number: "))
for i in range(num1,num2+1):
    if i>1:

        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

enter 1st number: 10
enter 2nd number: 20
11
13
17
19

In [33]:
#check prime number
num=int(input("enter value:"))
f=0
if num==1 or num ==0:
    f=1


for i in range(2,num):
    if num%i==0:
        f=1
    else:
        f=0
if f==1:
        print(f"{num} is not prime")
else:
        print(f"{num} is prime")

enter value:5
5 is prime

In [34]:
digit=str(input("enter value: "))
total=1
for i in digit:
    total=total*int(i)
print(total)
# num=int(input("enter any number:"))
# p=1
# for i in str(num):
#     r=num%10
#     p*=r
#     num//=10
# print(f"result is {p}")
# num=int(input("enter any number:"))
# p=1
# while (num):
#     r=num%10
#     p*=r
#     num//=10
# print(f"result is {p}")

enter value: 23
6

In [35]:
import math
x=int(input("enter x value: "))
n=int(input("enter n value: "))
sum=0
for i in range (n):

    sum =sum+((x**i)/math.factorial(i))
print(int(sum))

enter x value: 5
enter n value: 6
91

In [36]:
# num=int(input("enter any value :"))
# total=0
# while(num):
#     s=num%10
#     total=total+s
#     num=num//10
# print(f"result is :{total}")
num=int(input("enter any value :"))
total=0
for i in str(num):
    s=num%10
    total=total+s
    num=num//10
print(f"result is :{total}")#sum of digits

enter any value :555
result is :15

In [37]:
number=int(input("enter required table number : "))
n=int(input("enter value :"))
for i in range(1,n):
    print(f"{number} X {i} = {number*i}")

enter required table number : 5
enter value :12
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55

In [38]:
number=int(input("enter number for required table : "))
for i in range(21):
    print(f"{number} * {i} = {number*i}")

enter number for required table : 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100